<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TTR43WEB</title>
    <meta http-equiv="Cache-Control" content="no-cache">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <environment include="Development">
        <partial name="_BundledCSS" />
    </environment>
    <environment exclude="Development">
        <partial name="_BundledCSS" />
    </environment>
    <script>
        var urlControlActionGetIndex = "@Url.Action("Index", "Gipermall")";
        var urlControlActionGetCoastAsync = "@Url.Action("GetCoastAsync", "Gipermall")";
        var urlControlActionGetAllItemsUrls = "@Url.Action("AllItemsUrls", "Gipermall")";
        var urlControlActionGetTable = "@Url.Action("Table", "Gipermall")";
        var urlControlActionOptionsURIinBase = "@Url.Action("OptionsURIinBase", "Gipermall")";
        //var urlControlActionAccountLogin = "@Url.Action("Login", "Account")";
    </script>
    @Html.AntiForgeryToken()
</head>
<body>
    @RenderBody()
    <environment include="Development">
        <partial name="_BundledScripts" />
    </environment>
    <environment exclude="Development">
        <partial name="_BundledScripts" />
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
